.device_item_container {
    background-color: rgb(35, 35, 61);
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 1rem;
}

.device_item_container:last-child {
    margin-bottom: 0;
}

.device_item {
    display: flex;
    justify-content: space-between;
}


.device_item_container h2 {
    font-weight: 400;
    color: whitesmoke;
}

.device_item_container button {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0.8rem 1rem;
    font-size: 1.07rem;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    color: whitesmoke;
    cursor: pointer;
}

.device_item_container button:hover {
    background-color: rgba(205, 204, 204, 20%);
    /* color: #474747; */
    transition: all 0.7s;
}

.device_details h3 {
    font-weight: 500;
    color: whitesmoke;
}

.device_details p {
    color: whitesmoke;
}

.device_details_actions {
    margin-top: 1.2rem;
    margin-bottom: 0.8rem;
}

@media (max-width: 370px) {
    .device_details h3 {
        font-size: 1rem;
    }
}

@media (max-width: 370px) {
    .device_item_container h2 {
        font-size: 1rem;
    }

    .device_item_container button {
        padding: 0.5rem 0.7rem;
        font-size: 0.85rem;
        border-radius: 5px;
    }
}