.control {
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.control:last-child {
    margin-bottom: 0;
}

.control label {
    display: block;
    font-size: 1.08rem;
}

.control input {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.05rem;
    border-radius: 6px;
    border: none;
}

.control input:focus {
    outline: none;
}

@media (max-width: 370px) {
    .control input {
        width: 100%;
    }
}